<style type="text/css">
    /*头部*/
    .clr:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
    .clr,.clearfix{zoom:1}
    .header_top{background: #0c3e91;position:relative;z-index:100;  width: 100%; height: 50px;}
    .header_top,.header_top a{color:#c4cadc; line-height: 50px; font-size: 14px;}
    .header_top .mr30{ display: inline-block; margin-right: 30px; }
    .header_top a.logo{width: 100px; height: 50px; display: inline-block; background:url(./img/login/header_logo.png) left no-repeat; text-indent:-999px;background-size: contain;}
    .header_con{width:900px;margin: 0 auto;}
    .header_con:before,.header_contain:after{display:table;content:"";zoom:1}
    .header_con:after{clear:both}
    .pull-left{float:left}
    .pull-right{float:right}
    
</style>
<div class="header_top">
    <div class="header_con">        
        <span class="mr30"><a href="" class="logo">logo</a></span>
        <span class="mr30">{{_user_.getUserInfo().nickName}}&nbsp;欢迎来到即享云平台</span>
        <a href="#" class="mr30">访问手机版</a>
        <span class="mr30">服务热线：4006023399</span>
        <div class="pull-right">
            <span class="ng-hide" ng-show="!_user_.isLogin()">
                <a class="ml23" href="login">登录</a>
                <span class="ml10">|</span>
                <!-- <a class="ml10" href="register/step1">注册</a> -->
                <span class="ml10 pointer" onclick="zhlModalTip('请先预约开通！')">注册</span>
            </span>
            <span class="ng-hide" ng-show="_user_.isLogin()">
                <a class="ml23" href="#" ng-click="_user_.logout()">登出</a>
            </span>
        </div>
    </div>
</div>
