<!-- 左侧导航--采购 -->
<link rel="stylesheet" type="text/css" href="css/left.css" />
<script type="text/javascript" src="js/left.js"></script>
<div class="navigation_left">
    <div class="DivH100"></div>        
    <div class="navigationFirst" style="background-image:url(img/left/purchase/wdsc.png);">
        <div class="navigationSecond none" style="width:150px;">
            <div class="imgCont" style="background-image:url(img/left/purchase/wdsc.png);"></div> 
            <div class="thirdCont" style="width:105px;"> 
                <div class="pl15">
                    <span>我的收藏</span>
                    <div class="iconCont"></div>    
                </div>
                <ul>
                    <a href="javascript:;"><li>新建订单</li></a>
                </ul>
            </div>
        </div>
    </div>     
    <div class="navigationFirst" style="background-image:url(img/left/purchase/wdxj.png);">
        <div class="navigationSecond none" style="width:150px;">
            <div class="imgCont" style="background-image:url(img/left/purchase/wdxj.png);"></div> 
            <div class="thirdCont" style="width:105px;"> 
                <div class="pl15">
                    <span>我的询价</span>
                    <div class="iconCont"></div>    
                </div>
                <ul>
                    <a href="javascript:;"><li>紧急询价 <span class="red">[1]</span></li></a>
                    <a href="javascript:;"><li>我的询价 <span class="red">[1]</span></li></a>
                    <a href="javascript:;"><li>我的竞价 <span class="red">[1]</span></li></a>
                    <a href="javascript:;"><li>核价管理</li></a>
                </ul>
            </div>
        </div>
    </div>       
    <div class="navigationFirst" style="background-image:url(img/left/purchase/wdzb.png);">
        <div class="navigationSecond none" style="width:150px;">
            <div class="imgCont" style="background-image:url(img/left/purchase/wdzb.png);"></div> 
            <div class="thirdCont" style="width:105px;"> 
                <div class="pl15">
                    <span>我的招标</span>
                    <div class="iconCont"></div>    
                </div>
                <ul>
                    <a href="javascript:;"><li>我的招标</li></a>
                    <a href="javascript:;"><li>结果发布</li></a>
                </ul>
            </div>
        </div>
    </div>       
    <div class="navigationFirst" style="background-image:url(img/left/purchase/gysbj.png);">
        <div class="navigationSecond none" style="width:165px;">
            <div class="imgCont" style="background-image:url(img/left/purchase/gysbj.png);"></div> 
            <div class="thirdCont" style="width:120px;"> 
                <div class="pl15">
                    <span>供应商报价</span>
                    <div class="iconCont"></div>    
                </div>
                <ul>
                    <a href="javascript:;"><li>供应商报价</li></a>
                </ul>
            </div>
        </div>
    </div>       
    <div class="navigationFirst" style="background-image:url(img/left/purchase/cgjy.png);">
        <div class="navigationSecond none" style="width:190px;">
            <div class="imgCont" style="background-image:url(img/left/purchase/cgjy.png);"></div> 
            <div class="thirdCont" style="width:145px;"> 
                <div class="pl15">
                    <span>采购交易</span>
                    <div class="iconCont"></div>    
                </div>
                <ul>
                    <a href="javascript:;"><li>我的订单</li></a>
                    <a href="javascript:;"><li>新建订单</li></a>
                    <a href="javascript:;"><li>我的收货计划</li></a>
                    <a href="javascript:;"><li>我的变更</li></a>
                    <a href="javascript:;"><li>我的到货通知</li></a>
                    <a href="javascript:;"><li>我的收货</li></a>
                    <a href="javascript:;"><li>我的采购异常通知</li></a>
                    <a href="javascript:;"><li>我的退换货</li></a>
                </ul>
            </div>
        </div>
    </div>       
    <div class="navigationFirst" style="background-image:url(img/left/purchase/cgzw.png);">
        <div class="navigationSecond none" style="width:165px;">
            <div class="imgCont" style="background-image:url(img/left/purchase/cgzw.png);"></div> 
            <div class="thirdCont" style="width:120px;"> 
                <div class="pl15">
                    <span>采购账务</span>
                    <div class="iconCont"></div>    
                </div>
                <ul>
                    <a href="javascript:;"><li>我的付款通知</li></a>
                    <a href="javascript:;"><li>我的付款</li></a>
                    <a href="javascript:;"><li>我的发票</li></a>
                    <a href="javascript:;"><li>未出账单</li></a>
                    <a href="javascript:;"><li>月度对账</li></a>
                </ul>
            </div>
        </div>
    </div>       
    <div class="navigationFirst" style="background-image:url(img/left/purchase/gysgl.png);">
        <div class="navigationSecond none" style="width:180px;">
            <div class="imgCont" style="background-image:url(img/left/purchase/gysgl.png);"></div> 
            <div class="thirdCont" style="width:135px;"> 
                <div class="pl15">
                    <span>供应商管理</span>
                    <div class="iconCont"></div>    
                </div>
                <ul>
                    <a href="javascript:;"><li>我的供应商</li></a>
                    <a href="javascript:;"><li>潜在供应商</li></a>
                    <a href="javascript:;"><li>供应商和采购员</li></a>
                    <a href="javascript:;"><li>供应商供货产品</li></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="navigationFirst" style="background-image:url(img/left/purchase/cgjggl.png);">
        <div class="navigationSecond none" style="width:180px;">
            <div class="imgCont" style="background-image:url(img/left/purchase/cgjggl.png);"></div> 
            <div class="thirdCont" style="width:135px;"> 
                <div class="pl15">
                    <span>采购价格管理</span>
                    <!-- <div class="iconCont"></div>     -->
                </div>
            </div>
        </div>
    </div>
    <div class="navigationFirst" style="background-image:url(img/left/purchase/gzdhy.png);">
        <div class="navigationSecond none" style="width:165px;">
            <div class="imgCont" style="background-image:url(img/left/purchase/gzdhy.png);"></div> 
            <div class="thirdCont" style="width:120px;"> 
                <div class="pl15">
                    <span>关注的资源</span>
                    <!-- <div class="iconCont"></div>     -->
                </div>
            </div>
        </div>
    </div>       
    <div class="navigationFirst" style="background-image:url(img/left/purchase/cpcgxxwh.png);">
        <div class="navigationSecond none" style="width:215px;">
            <div class="imgCont" style="background-image:url(img/left/purchase/cpcgxxwh.png);"></div> 
            <div class="thirdCont" style="width:170px;"> 
                <div class="pl15">
                    <span>产品采购信息维护</span>
                    <!-- <div class="iconCont"></div>     -->
                </div>
            </div>
        </div>
    </div>       
    <div class="navigationFirst" style="background-image:url(img/left/purchase/wdql.png);">
        <div class="navigationSecond none" style="width:150px;">
            <div class="imgCont" style="background-image:url(img/left/purchase/wdql.png);"></div> 
            <div class="thirdCont" style="width:105px;"> 
                <div class="pl15">
                    <span>我的缺料</span>
                    <div class="iconCont"></div>    
                </div>
                <ul>
                    <a href="javascript:;"><li>生产缺料</li></a>
                    <a href="javascript:;"><li>缺料预警</li></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="navigationFirst" style="background-image:url(img/left/purchase/wdzh.png);">
        <div class="navigationSecond none" style="width:150px;">
            <div class="imgCont" style="background-image:url(img/left/purchase/wdzh.png);"></div> 
            <div class="thirdCont" style="width:105px;"> 
                <div class="pl15">
                    <span>我的账号</span>
                    <div class="iconCont"></div>    
                </div>
                <ul>
                    <a href="javascript:;"><li>修改密码</li></a>
                    <a href="javascript:;"><li>个人信息维护</li></a>
                </ul>
            </div>
        </div>
    </div>
    <div class="DivH100"></div>
</div> 