<ol class="breadcrumb">
	<li>当前位置</li>
	<li>API列表</li>
</ol>

<div class="c-content">
	
	
	<div class="c-form">
		<div class="c-form-list">
			<div class="listL">API名称：</div>
			<div class="listR">车辆违章查询2.0</div>
		</div>
		<div class="c-form-list" >
			<div class="listL">API图标：</div>
			<div class="listR img80"><img src="images/user.jpg"/></div>
		</div>
		<div class="c-form-list">
			<div class="listL">版本：</div>
			<div class="listR">1.0</div>
		</div>		
		<div class="c-form-list">
			<div class="listL">行业分类：</div>
			<div class="listR">交通</div>
		</div>
		<div class="c-form-list">
			<div class="listL">支持城市：</div>
			<div class="listR">北京　上海　杭州</div>
		</div>
		<div class="c-form-list">
			<div class="listL">状态：</div>
			<div class="listR">修改待审核</div>
		</div>
		<div class="c-form-list">
			<div class="listL">是否推荐：</div>
			<div class="listR">是</div>
		</div>
		<div class="c-form-list">
			<div class="listL">是否启用：</div>
			<div class="listR">否</div>
		</div>
		<div class="c-form-list">
			<div class="listL">描述：</div>
			<div class="listR">通过提供航班名称，查询航班信息;例：CZ300</div>
		</div>
		<div class="c-form-list">
			<div class="listL">标签：</div>
			<div class="listR">生活服务　交通服务</div>
		</div>
		<div class="ta-c ptb15" >			
			<a class="btn btn-grey" onClick="javascript: history.go(-1);">返回</a>		
		</div>
		
	</div>


</div>


