<div class="c-nav">
	<div class="c-navlist c-menuShrink">
		<h4><i class="glyphicon glyphicon-stats"></i>API分类<b class="glyphicon glyphicon-triangle-bottom"></b></h4>
		<ul class="list-item">
			<li ui-sref-active="active" ui-sref=".city">城市分类</li>
			<li ui-sref-active="active" ui-sref=".profession">行业分类</li>
		</ul>
		<h4 ><i class="glyphicon glyphicon-calendar"></i>API列表<b class="glyphicon glyphicon-triangle-bottom"></b></h4>
		<ul class="list-item">
			<li ui-sref-active="active" ui-sref=".list">API列表</li>

		</ul>
	</div>
</div>