<style type="text/css">
    .csc-box{width:420px;position:absolute;left:50%;margin-left:-210px;top:50%;margin-top:-150px;height:300px;}
    .csc-box p{font-family:"MicrosoftYaHei";text-algin:center;}
    .csc-p1{font-size:40px;font-weight:blod;color:#07B4DF}
    .csc-p2{font-size:20px;color:#ABB1BF;}
    .csc-p3{text-align:center;height:18px;line-height:18px;color:#606060;cursor:pointer;}
    .csc-p3 img{vertical-align:bottom;}
    .csc-p3 a{color:#606060;}
    .csc-p3 a:hover{text-decoration:none;}
</style>
<load-view src="views/module/headTop.html"></load-view>
<head-main></head-main>
<left-menu></left-menu>
<div class="main">
    <div class="clo-md-12 csc-box"  >
        <img src="img/icon/js.png">
        <p class="csc-p1 mt20">正在建设中,敬请期待！</p>
        <p class="csc-p2">We are under construction,so stay tuned</p>
        <p class="csc-p3 mt10"><img src="img/icon/fh.png"><a href="javascript:history.go(-1)">上一页</a></p>
    </div>
</div>
<load-view src="views/module/bottomB.html"></load-view>